mixin storeForm(store = {})
  - // action= where to send the data
  - // method= how to send the data; POST= Send data invisibly, SAFER; GET= post the data in the URL
  -// TODO add enctype="multipart/form-data" when adding images
  form(action="/add" method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name")
    label(for="description") Description
    textarea(name="description")
    - const choices = ['WiFi','Open late', 'Family Friendly', 'Vegetarian', 'Licensed']
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags")
          label(for=choice)= choice
    input(type="submit" value="Save" class="button")